<div class="row">
  <div class="col-xs-5 ">
  <h2 class="genre-top">ジャンル一覧・追加</h2>
    <%= form_for(@genre, url: admins_genres_path) do |f| %>
      <table class="genre-add">
        <tr>
          <th>ジャンル</th>
          <th>
            <%= f.text_field :name, class: "name" %>
          </th>
          <th>
            <%= f.radio_button :is_void_flag, true %>
            <%= f.label :is_void_flag, '有効', value: true %>
            <%= f.radio_button :is_void_flag, false %>
            <%= f.label :is_void_flag, '無効', value: false %>
          </th>
          <th>
            <%= f.submit "追加", class: "btn btn-primary" %>
          </th>
        </tr>
        </tr>
      </table>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-xs-5">
    <table class="table table-bordered">
      <thead class="t-color">
        <tr>
          <th>ジャンル</th>
          <th>状態</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @genres.each do |genre| %>
          <tr>
            <td><%= genre.name %></td>
            <td>
              <% if (genre.is_void_flag == true) %>有効
              <% else %>無効
              <% end %>
            </td>
            <td>
              <%= link_to "編集する",  edit_admins_genre_path(genre), class: "btn-sm btn-success" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
