<h1>Deliveries#edit</h1>
<%= form_for(@delivery) do |f| %>
	<div class="field">
		<%= f.label :pstal_code %>
		<%= f.text_field :pstal_code, class: "pstal_code" %>
	</div>
	<div class="field">
		<%= f.label :destination %>
		<%= f.text_field :destination, class: "destination" %>
	</div>
	<div class="field">
		<%= f.label :addressee %>
		<%= f.text_field :addressee, class: "addressee" %>
	</div>
	<div class="actions">
		<%= f.submit "編集する" class: "btn btn-primary col-xs-9"  %>
	</div>
<% end %>