<h1>Deliveries#index</h1>
<h1>配送先登録/一覧</h1>

<%= form_for(@delivery) do |f| %>
	<div class="field">
		<%= f.label :pstal_code %>
		<%= f.text_field :pstal_code, class: "pstal_code" %>
	</div>
	<div class="field">
		<%= f.label :destination %>
		<%= f.text_field :destination, class: "destination" %>
	</div>
	<div class="field">
		<%= f.label :addressee %>
		<%= f.text_field :addressee, class: "addressee" %>
	</div>
	<div class="actions">
		<%= f.submit "登録する", class: "btn btn-primary col-xs-9" %>
	</div>
<% end %>
<div class="row">
	<div class="col-xs-12">
		<table class="table">
			<thead>
				<tr>
					<th>郵便番号</th>
					<th>住所</th>
					<th>宛名</th>
					<th></th>	
				</tr>
			</thead>
			<tbody>
				<tr>
					<% @deliveries.each do |delivery| %> 
						<td><%= @delivery.pstal_code %></td>
						<td><%= @delivery.destination %></td>
						<td><%= @delivery.addressee %></td>
						<td>
							<%= link_to "編集する",  edit_member_delivery_path(@delivery), class: "btn-sm btn-success" %>
						</td>
						<td>
							<%= link_to "削除する", member_delivery_path(@delivery), method: :delete, class: "btn-sm btn-danger" %>
						</td>
					<% end %>
				</tr>
			</tbody>
		</table>
	</div>
</div>