<div class="row">
	<div class="col-md-6 col-md-offset-1",  style="margin-bottom: 10px;">
		<h4 class="index-deliveries-title">配送先登録/一覧</h4>
	</div>
</div>

<div class="row">
	<div class="col">
		<%= form_for(@delivery) do |f| %>
		<table class="table-condensed">
			<ul>
     		<% @delivery.errors.full_messages.each do |message| %>
       		<li><%= message %></li>
     		<% end %>
   		</ul>
			<tr>
				<th>郵便番号(ハイフンなし)</th>
				<th><%= f.text_field :postal_code, class: "postal_code" %></th>
			</tr>
			<tr>
				<th>住所</th>
				<th><%= f.text_field :destination, class: "destination" %></th>
			</tr>
			<tr>
				<th>宛名</th>
				<th><%= f.text_field :addressee, class: "addressee" %></th>
				<th><%= f.submit "登録する", class: "btn-sm btn-success success-btn" %></th>
			</tr>
		</table>
		<% end %>
	</div>

	<div class="col-xs-8">
		<table class="table table-bordered table-condensed" style="margin-top: 20px;">
			<thead class="t-color">
				<tr>
					<th>郵便番号</th>
					<th>住所</th>
					<th>宛名</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<% @deliveries.each do |delivery| %>
					<tr>
						<td>
							<%= delivery.postal_code %>
						</td>
						<td>
							<%= delivery.destination %>
						</td>
						<td>
							<%= delivery.addressee %>
						</td>
						<td>
							<%= link_to "編集する",  edit_delivery_path(delivery), class: "btn-sm btn-primary" %>
							<%= link_to "削除する", delivery_path(delivery), method: :delete, "data-confirm" => "削除してもよろしいでしょうか？", class: "btn-sm btn-danger" %>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>