<h1>Orders#confirm</h1>
<div class="row">
	<div class="col-9">
		<h3>注文情報確認</h3>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>商品名</th>
					<th>単価(税込)</th>
					<th>数量</th>
					<th>小計</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
			<% @sum = 0 %>
				<% @cart_items.each do |cart_item| %>
					<tr>
					　　 <td>
							<%= attachment_image_tag cart_item.item, :image, :fill, 80, 80, format: 'jpeg', fallback: "no_image.jpg" %>
						</td>
						<td>
							<%= cart_item.item.name %>
						</td>
						<td>
							<%= (cart_item.item.tax_excluded_price * 1.1 ).round(0) %>
						</td>
						<td>
							<%= cart_item.count %>
						</td>
						<td>
							<%= ((cart_item.item.tax_excluded_price * 1.1).round(0) * (cart_item.count)) %>円
						</td>
							<% @sum += ((cart_item.item.tax_excluded_price * 1.1).round(0) * (cart_item.count)) %>
					</tr>
				<% end %>
			</tbody>
				支払い方法 <%= @order.payment_method %>
				お届け先   <%= @order.delivery_target_address %>
						  <%= @order.addressee %>
		</table>
