<div class="row">
	<div class="col-xs-10 col-xs-offset-1">
		<h4>メンバー側注文履歴一覧</h4>
		<table class="table table-bordered">
			<!-- カート内商品の繰り返し必要 -->
			<thead>
				<tr>
					<th>注文日</th>
					<th>配送先</th>
					<th>注文商品</th>
					<th>支払い金額</th>
					<th>ステータス</th>
					<th>注文詳細</th>
				</tr>
			</thead>
			<tbody>
				<% @orders.each do |order| %>
				<tr>
					<td><%= order.created_at.to_s(:datetime_jp)  %></td>
					<td><%= order.postal_code %><br>
					<%= order.delivery_target_address %><br>
					<%= order.addressee %></td>
					<td>
						<% order.order_items.each do |order_item| %>
							<p><%= order_item.item.name %></p>
						<% end %>
					</td>
					<td><%= order.tortal_prace %></td>
					<td></td>
					<td>
						<%= link_to '注文詳細', order_path(order.id), class: "btn btn-info" %>
					</td>
				</tr>
				<% end %>
			</tbody>
		</table>
		<div class="col-xs-offset-5">
			<%= paginate @orders %>
		</div>
	</div>
</div>