<h1>Orders#new</h1>
<div class=“row”>
<h3>注文情報入力</h3>
<%= form_for(@order) do |f| %>
<h3>支払い方法</h3>
	<table>
		<tr>
			<th>
        <%= f.radio_button :payment_method, :card %>
        <%= f.label :payment_method, 'クレジットカード' %>
      </th>
      <th>
        <%= f.radio_button :payment_method, :bank %>
        <%= f.label :payment_method, '銀行振込' %>
      </th>
		</tr>
	</table>
	<h3>お届け先</h3>
	<table>
		<tr>
			<!-- ラジオボタンif文で保存するデータを変更する -->
			<th>
        <%= f.radio_button :d_address, :current_member %>
        <%= f.label :d_address, 'ご自身の住所' %>
        <%= current_member.postal_code %>
        <%= current_member.address %>
        <%= current_member.last_name %>
        <%= current_member.first_name %>
      </th>
    </tr>
    <tr>
      <th>
      <!-- deliveriesはコントローラー側で処理を変えればOK -->
        <%= f.radio_button :d_address, :deliveries %>
        <%= f.label :d_address, '登録済住所から選択' %>
      </th>
          <th><%= f.collection_select :member_id, current_member.deliveries, :id, :ffff %>
          </th>
    </tr>
    <tr>
      <th>
      <!-- deliveriesはコントローラー側で処理を変えればOK -->
        <%= f.radio_button :d_address, :new_deli %>
        <%= f.label :d_address, '新しい住所' %><br>
        <%= f.text_field :postal_code %><br>
        <%= f.text_field :destination %><br>
        <%= f.text_field :addressee %>
      </th>
		</tr>
	</table>
	<%= f.submit class: "btn btn-primary col-xs-12" %>
<% end %>
</div>
