<h1>Carts#index</h1>
<%= link_to 'カートを空にする', carts_members_path, method: :delete, class: "btn-sm btn-danger" %>

<table class="table table-bordered">
	<thead>
		<tr>
			<th>商品名</th>
			<th>単価(税込)</th>
			<th>数量</th>
			<th>小計</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% @cart_items.each do |cart_item| %>
			<tr>
			　　 <td><%= attachment_image_tag cart_item.item, :image, :fill, 80, 80, format: 'jpeg', fallback: "no_image.jpg" %>
				<%= cart_item.item.name %></td>
				<td><%= (cart_item.item.tax_excluded_price * 1.1 ).round(0) %></td>
				<td>
															<!-- #{cart_item.id}はもともとある変数の引用 -->
					<%= form_for(cart_item, url: "/members/carts/#{cart_item.id}") do |f| %>
							<%= f.text_field :count %>
							<%= f.submit '変更', class: "btn btn-primary" %>
						<% end %>　
				</td>
				<td>
					<%= (cart_item.item.tax_excluded_price * 1.1).round(0) * (cart_item.count) %>円
				</td>
				<td>
					<%= link_to '削除する', "/members/carts/#{cart_item.id}", method: :delete, class: "btn-sm btn-danger" %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>