<div class="row">
  <h4 class="col-xs-2 title-color" style="margin-left: 300px;">管理者ログイン</h4>
</div>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class="row">
  <div class="col" style="margin-left: 400px;">
    <table class="table-condensed">
      <tr>
        <th><%= f.label :メールアドレス %></th>
        <th><%= f.email_field :email, autofocus: true, autocomplete: "email" %></th>
      </tr>
      <tr>
        <th><%= f.label :パスワード %></th>
        <th><%= f.password_field :password, autocomplete: "current-password" %></th>
      </tr>
    </table>
  </div>
</div>
  <div class="actions col-md-4 col-md-offset-4" style="margin-left: 400px; margin-top: 20px; margin-bottom: 20px;">
    <%= f.submit "ログイン", class: "btn btn-primary w-50"%>
  </div>
<% end %>

email: 'plus1@plus1.com',
password: 'mplus1'

