<div class="row">
	<div class="col-4">
		<h2>商品編集</h2>
		<%= attachment_image_tag @item, :image, :fill, 300, 300, format: 'jpeg', fallback: "no_image.jpg" %>

	</div>
	<div class="col-8">
		<%= form_for(@item, url: admins_item_path) do |f| %>
			<table>
				<tr>
					<th><%= f.attachment_field :image, class: "item_image" %></th>
				</tr>
				<tr>
					<th>商品名</th>
					<th><%= f.text_field :name %></th>
				</tr>
				<tr>
					<th>商品説明</th>
					<th><%= f.text_area :description %></th>
				</tr>
				<tr>
					<th>ジャンル</th>
					<th><%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "選択して下さい" %></th>
				</tr>
				<tr>
					<th>税込価格（税抜価格）</th>
					<th><%= f.text_field :tax_excluded_price %></th>
				</tr>
				<tr>
					<th>販売ステータス</th>
					<th><%= f.select :is_sales_status, [["販売中", true], ["販売停止中", false]] %></th>
				</tr>
			</table>
			<%= f.submit '変更を保存', class: "btn btn-primary" %>
		<% end %>
	</div>
</div>
