<div class="row">
  <h4 class="col-md-offset-1 devise-member-new-title">会員の方はこちらからログイン</h4>
</div>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class="row">
  <div class="col-md-6 col-md-offset-2">
    <table class="table-condensed">
      <tr>
        <th><%= f.label :メールアドレス %></th>
        <th><%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input-mysize" %></th>
      </tr>
      <tr>
        <th><%= f.label :パスワード %></th>
        <th><%= f.password_field :password, autocomplete: "current-password", class: "input-mysize"%></th>
      </tr>
    </table>
    <div class="col-md-offset-7">
      <a href="/members/password/new">=>パスワードを忘れた方はこちら</a>
    </div>
    <div class="actions col-md-4 col-md-offset-4">
      <%= f.submit "ログイン", class: "btn btn-primary devise-member-new-btn"%>
    </div>
  </div>
</div>
<% end %>


<div class="row">
  <div class="col-md-6 col-md-offset-1 ">
    <h4 class="devise-member-under-title">登録がお済みでない方</h4>
  </div>
</div>

<div class="col-md-offset-2">
<%= link_to "こちら", new_member_registration_path %>　から新規登録を行ってください。
</div>
