<h1>Items#index</h1>
<div class="container-fluid">
	<div class="row sampleRow">
		<div class="col-xs-6 col-md-2" style="background-color: #f99;">
			<table class="table">
				<h4>ジャンル検索</h4>
				<% @genres.each do |genre| %>
					<tr>
						<th>
						<!-- itemテーブルのgenre_idカラムに　genre.idを追加し、genre.nameを表示させる -->
						<%= link_to item_search_path(genre_id: genre.id) do %>
						<%= genre.name %>
						<% end %>
						</th>
					</tr>
				<% end %>
			</table>
		</div>

	<div class="col-md-10" >


			    <h4>商品一覧<span>(全<%= @items.total_count %>件)</span></h4>
	            <% @items.each do |item| %>

				<div class="col-xs-6 col-md-3 item-index" >
				<%= link_to item_path(item) do %>
				<%= attachment_image_tag item, :image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg", size: '100×100' %></br>
				<% end %>
				<%= item.name %></br>
	            ¥<%= item.tax_excluded_price %></div>

	            <% end %>

		<!-- <div class="clearfix visible-xs visible-sm"></div> -->

			<%= paginate @items %>
		</div>
	</div>
</div>
