<div class="row">
	<div class="col-md-2">
		<table class="table table-bordered">
			<tr>
				<th>ジャンル検索</th>
			</tr>
			<% @genres.each do |genre| %>
			<tr>
				<th>
					  <!-- itemテーブルのgenre_idカラムにgenre.idを追加し、genre.nameを表示させる -->
						<%= link_to item_search_path(genre_id: genre.id) do %>
						<%= genre.name %>
						<% end %>
				</th>
			</tr>
			<% end %>
		</table>
	</div>

	<div class="col-md-9" >
		<h3>商品一覧<span>(全<%= @items.total_count %>件)</span></h3>
		<% @items.each do |item| %>
			<div class="col-xs-6 col-md-3 item-index" >
				<% if item.genre.is_void_flag == true %>
					<%= link_to item_path(item) do %>
					<%= attachment_image_tag item, :image, :fill, 180, 120, format: 'jpeg', fallback: "no_image.jpg", size: '150×100', class: "index-item" %></br>
					<% end %>
					<%= item.name %></br>
					¥<%= item.tax_excluded_price.to_s(:delimited) %>
    		<% end %>
  		</div>
  	<% end %>
	</div>
</div>

<div class="row">
	<div class="col-md-4 col-md-offset-6">
		<%= paginate @items %>
	</div>
</div>