<div class="row">
	<div class="col">
<h2 style="width: 200px; background: #eee; margin-left: 100px; ">注文履歴詳細</h2>

<table style="margin: 40px 20px 40px;">
		<tr>
			<th>購入者</th>
			<th><%= @order.member.last_name %><%= @order.member.first_name %></th>
		</tr>
		<tr>
			<th>配送先</th>
			<th>
				〒 <%= @order.postal_code %> <%= @order.delivery_target_address %> <br>
				 <%= @order.addressee %>
			</th>
		</tr>
		<tr>
			<th>支払方法</th>
			<th><% if (@order.payment_method == 1) %>銀行支払
				<% else %>クレジットカード<% end %></th>
		</tr>
		<tr>
			<%= form_for(@order, url: admins_order_path) do |f| %>
			<th>注文ステータス</th>
			<th>
				<%= f.select :status, {入金待ち: 'waiting', 入金確認: 'confirm', 製作中: 'in_production', 発送準備中: 'preparing', 制作完了: 'done'} %>
			</th>
			<th><%= f.submit "更新", class: "btn btn-primary" %></th>
			<% end %>
		</tr>
	</tbody>
</table>
</div>
</div>
<div class="row">
	<div class="col-md-8">
		<table class="table table-bordered">
			<thead class="t-color">
				<tr>
					<th>商品名</th>
					<th>単価(税込)</th>
					<th>数量</th>
					<th>小計</th>
					<th>制作ステータス</th>
					<th></th>
				</tr>
			</thead>
			<tbody>

				<% @order.order_items.each do |order_item| %>
					<tr>
						<td>
							<%= order_item.item.name %>
						</td>
						<td>
							<%= (order_item.orderded_price * 1.1).round(0).to_s(:delimited) %>
						</td>
						<td>
							<%= order_item.count %>
						</td>
						<td>
							<%= ((order_item.orderded_price * 1.1) * (order_item.count)).round(0).to_s(:delimited) %>
						</td>
							<%= form_for(order_item, url: admins_order_item_path(order_item)) do |f| %>
								<td><%= f.select :production_status, {着手不可: 'not_possible', 制作待ち: 'waiting', 製作中: 'in_production', 制作完了: 'done'} %></td>
								<td><%= f.submit "更新", class: "btn btn-primary" %></td>
							<% end %>
					<% end %>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="col-md-4">
		<% @sum = 0 %>
		<% @order.order_items.each do |order_item| %>
			<% @sum += ((order_item.orderded_price) * (order_item.count)) %>
		<% end %>
		<table style="font-size: 25px;">
			<tr>　</tr>
			<tr>　</tr>
			<tr>
				<th>商品合計　</th>
				<th><%= ((@sum) * 1.1).round(0).to_s(:delimited) %>円</th>
			</tr>
			<tr>
				<th>送料　</th>
				<th>800円</th>
			</tr>
			<tr>
				<th>請求金額合計　</th>
				<th><%= (((@sum) * 1.1) + 800).round(0).to_s(:delimited) %>円</th>
			</tr>
		</table>
	</div>
</div>