<!DOCTYPE html>
<html>
  <head>
    <title>WorkGithub</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<!-- header-nav  リンク先はのちに追記します -->
    <header class="navbar navbar-fixed-top">
      <div class="container">
        <nav class="nav navbar-nav navbar-left">
          <span class="col-8"><%= link_to "NaganoCake", "/" %></span>
        </nav>
        <nav>
          <ul class="nav navbar-nav navbar-right"　>
            <% if member_signed_in? %>
              <li><%= link_to "マイページ", members_mypage_path, class: "btn btn-default btn-sm nav-btn" %></li>
              <li><%= link_to '商品一覧', items_path, class: "btn btn-default btn-sm nav-btn" %></li>
              <li><%= link_to 'カート', members_carts_path, class: "btn btn-default btn-sm nav-btn" %></li>
              <li><%= link_to 'ログアウト', destroy_member_session_path, method: :delete, class: "btn btn-default btn-sm nav-btn" %></li>
            <% elsif admin_signed_in? %>
              <li>管理者ログイン中</h1>
              <li class=""><%= link_to "商品一覧", admins_items_path, class: "btn btn-default btn-sm nav-btn" %></li>
              <li class=""><%= link_to "会員一覧", admins_members_path, class: "btn btn-default btn-sm nav-btn" %></li>
              <li class=""><%= link_to "注文履歴一覧", admins_orders_path, class: "btn btn-default btn-sm nav-btn" %></li>
              <li class=""><%= link_to "ジャンル一覧", admins_genres_path, class: "btn btn-default btn-sm nav-btn" %></li>
              <li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "btn btn-default btn-sm nav-btn" %></li>
            <% else %>
              <li><%= link_to 'About', "/homes/about", class: "btn btn-default btn-sm nav-btn" %></li>
              <li><%= link_to '商品一覧', items_path, class: "btn btn-default btn-sm nav-btn" %></li>
              <li><%= link_to "新規登録", new_member_registration_path, class: "btn btn-default btn-sm nav-btn" %></li>
              <li><%= link_to "ログイン", new_member_session_path, class: "btn btn-default btn-sm nav-btn" %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>
  <div class="container body">
    <%= yield %>
  </div>
  </body>
</html>
